<ion-content [fullscreen]="true" class="workbook-content" [scrollY]="false">
  <div class="prompt-bar">
    <ion-menu-button color="light"></ion-menu-button>
    <span class="prompt-text">A (Hiragana)</span>
  </div>

  <div class="canvas-wrapper">
    <canvas #canvas class="drawing-canvas"></canvas>
    <ion-button class="undo-btn" fill="clear" (click)="onUndo()">
      <ion-icon name="backspace"></ion-icon>
    </ion-button>
  </div>

  <ion-button class="check-btn" (click)="onCheck()">CHECK!</ion-button>
</ion-content>
